# MyST build artifacts
_build/
book/_build/
.myst/

# Python & Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.env

# Data & Models (MLOps standard: use DVC instead)
# /data/*
# !/data/*.dvc
# !/data/.gitkeep


models/
*.pkl
*.h5
*.joblib

# MLflow logs
mlruns/

# IDE
.vscode/
.idea/

# OS specific
.DS_Store